


<h1>{{ model.collection.items.firstObject.data.firstObject.description}}</h1>

<p>
  {{ model.collection.items.firstObject.data.firstObject.description}}
</p>

<img src="{{ model.collection.items.firstObject.links.firstObject.href }}" alt="">


{{outlet}}
